*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}

html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(231, 229, 229);
}
#bigBox{
     display: grid;
     grid-template-columns: repeat(6,minmax(100px,1fr));
     grid-template-rows: minmax(50px,auto);
     grid-gap: 5px;
}
.top{
    grid-column: 1/-1; 
    position: relative;
}

.logo{
    position: absolute;
    top: -4px;
    left: 9px;
 }
 .logo h1{
    font-size: 43px;
    text-transform: lowercase;
    margin: 0;
    font-family: 'Nova Mono', monospace;
    letter-spacing: -9px;;
 }
 .logo h2{
     position: absolute;
     top: 75%;
     right: 29%;
     text-transform: uppercase;
     font-size: 17px;
 }
   .header{
       text-align: center;
   }
    .header ul{
        float: right;
        list-style: none;
        margin-right: 30px;
    }
    .header ul li{
        display: inline-block;
        margin-top: 21px;
        font-weight: bold;
        margin-right: 30px;
        margin-left: 30px;
        text-transform: uppercase;
       
    }
    .header ul li a:hover {
        background-color:#1F1F1F;
        color: #fff;
     }
    .header ul li a{
        text-decoration: none;
        color:#000000;
        padding: 15px;
         font-size: 14px;
         height: 30px;
         width: 150px;
         border-radius: 3px;
    }

    .toggle{
        display: none;
        float: right;
    }
    
    .firstpub{
        grid-column: 1/-1;
        margin-top: 5px;
        padding: 30px;
        font-size: 19px;
        text-align: center;
    }
    
   .box{
       width: 200px;
       height: 335px;
       margin: 3px;
       position: relative;
       overflow: hidden;
   }
  
   .box .imgBox img{
    max-width: 100%;
    height: 335px;
    transition: transform 2s;
   }
    
   .box:hover .imgBox img{
    transform: scale(1.2);
   }

   .box .details{
       position: absolute;
       top: 10px;
       bottom: 10px;
       left: 5px;
       right: 5px;
       background: #000000;
    transform: scaleY(0);
    transition: transform 1s;
       
   }
   .box:hover .details{
    transform: scaleY(1);
   }

  .box .details .content{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      padding: 10px;
      padding-left: 13px;
      color: #fff;
  }
  .box .details .content h2{
      color: #ff0;
      margin-bottom: 5px;
  }
footer{
    grid-column: 1/-1;
    background-color: #1F1F1F;
    text-align: center;
    height: 70px;

}
.list1,
.list2 {
    margin-top: 10px;
   list-style: none;
}
.list1 li,
.list2 li{
    display: inline-block;
    margin-right: 30px;
    color: #fff;
}
/*Queries for tablets*/
@media only screen and (max-width:960px){
    #bigBox{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,minmax(100px,1fr));
     grid-template-rows: minmax(50px,auto);
     grid-gap: 5px;
    }
    .top{
       width: 100%;
    }
    .header ul{
        width: 100%;
        margin-top: 20px;
        margin-right: 0;
        height: 250px;
        background-color: #1F1F1F;
        display: none;
    }
    .header ul li{
     display: none; 
     text-align:center;
     font-size: 13px;
     margin-bottom: 10px;
        }
    .header ul li a{
        color: #fff;
    }
    .toggle{
        display: block;
        margin: 20px;
        font-size: 20px;
    }
    .firstpub{
      width: 100%;
    }
    .box {
       grid-column: 1/-1;
       width: 100%;
    }
    .box img{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}

/*Queries for mobile phone*/
@media only screen and (max-width: 640px)  {
    #bigBox{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,minmax(60px, 1fr));
     grid-template-rows: minmax(50px, auto);
     grid-gap: 5px;
    }
    .top{
        width: 100%;
    }
   
    .header ul{
        margin-left: -7px;
    }
    .header ul li{
        display: none;
    }

    .logo{
        top: 3%;
    }

    .toggle{
    font-size: 20px;
    margin: 7%;
    }
   
    .firstpub{
      width: 100%;
      padding: 15px;
      margin-left: -10px;
      font-size: 16px;
    }
    .box {
        width: 100%;
    }
    .box .details .content{
        padding: 20px;
    }
   footer{
       width: 100%;
       height: 100px;
   }
   .list1 li {
       margin: 5px;
   }

}

@media only screen and (max-width: 320px) {
    #bigBox {
        width: 100%;
    }
    
    .top{
        width: 100%;
    }
    
    .toggle{
        margin-right: 19%;
        }
    .header ul {
        margin-right: 9%;
    }
    .firstpub{
         width: 100%;
         padding: 40px;
         margin-left: -30px;
         font-size: 15px;
    }
    
    .box {
        width: 100%;
        margin-left: -17px;
    }
    .box .details{
        width: 100%;
        margin-left:-10px;
        position: absolute;
        left: -1%;
    }
    .box .details .content{
        padding: 13%;
    }
    
    footer{
        height: 120px;
    }
   .list1 li {
    display: block;
    margin-left: -9%;
}
}