*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}

html,body{
    width: 100%;
    height: 100%;
 overflow-x: hidden;
 background: url(images/explore.jpg);
 background-position: center;
 background-size: cover;
}
#bigBox{
    width: 100%;
     display: grid;
     grid-template-columns: repeat(6,minmax(100px,1fr));
     grid-template-rows: minmax(50px,auto);
     grid-gap: 5px;
}
.top{
    grid-column: 1/-1;
    text-align: center;
    color: #1f1f1f;
  position: relative;
}
.header{
   text-align: center;
  
}
.header ul{
    float: right;
    list-style: none;
    margin-right: 40px;
}
.header ul li{
    display: inline-block;
    margin-top: 21px;
    margin-bottom: 0;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 23px;
    text-transform: uppercase;
 
}
.header ul li a:hover {
    background-color:#1f1f1f;
    color: #fff;
 }
.header ul li a{
    text-decoration: none;
    color:#1f1f1f;
    padding: 15px;
     font-size: 14px;
     height: 30px;
     width: 150px;
     border-radius: 3px;
}
.logo{
    
   position: absolute;
   top: -9px;
   left: 11px;
   
}
.logo h1{
   font-size: 43px;
   text-transform: lowercase;
   margin: 0;
   font-family: 'Nova Mono', monospace;
   letter-spacing: -9px;;
}
.logo h2{
    position: absolute;
    top: 75%;
    right: 29%;
    text-transform: uppercase;
    font-size: 17px;
}


.toggle{
    display: none;
    float: right;
}

.ligne1{
    grid-column: 1/-1;
    text-align: center;
    color: #1F1F1F;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bigBox{
    grid-column: 1/-1;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0;
   height: auto;
    padding: 5px;
   
}
footer{
    grid-column: 1/-1;
    background-color: #1f1f1f;
    text-align: center;
    height: 70px;
   
}
.list1,
.list2 {
    margin-top: 10px;
   list-style: none;
}
.list1 li,
.list2 li{
    display: inline-block;
    margin-right: 30px;
    color: #fff;
}

/*Queries for tablets*/
@media only screen and (max-width: 960px) {
   
    #bigBox{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,minmax(80px,1fr));
     grid-template-rows: minmax(50px,auto);
     grid-gap: 5px;
    }
    .top{
        grid-column: 1/-1;
        width: 100%;
    }
    
    .header ul{
        width: 100%;
        background-color: #000000;
       margin-top: 20px;
       margin-right: 0;
        
    }
    .header ul li{
     display: none; 
     text-align:center;
     font-size: 13px;
     margin-bottom: 20px;
     padding: 5px;
     
        }
    .header ul li a{
        color: #fff;
    }
    
.header ul li a:hover {
    background-color:#fff;
    color: #000000;
 }
    .toggle{
        display: block;
        margin: 21px;
        font-size: 20px;
        background-color:#fff;
        color: #1f1f1f;
    }
    .ligne1{
       margin: 0 auto;
    }

    .ligne1 h2{
        font-size: 19px;
        width: 150px;
        padding: 5px;
        background-color: #1f1f1f;
        color: #fff;
        margin-top: 20px;
    }
   
   
}

/*Queries for mobile phone*/
@media only screen and (max-width: 640px) {
    
    #bigBox{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,minmax(60px,1fr));
     grid-template-rows: minmax(50px,auto);
     grid-gap: 5px;
    }
    .top{
        grid-column: 1/-1;
        width: 100%;
    }
    .header ul li{
        display: none;
    }
    .toggle{
        display: block;
        margin: 20px;
        font-size: 20px;
    }
        
   footer{
       height: 100px;
   }


}

