*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
body{
    overflow-x: hidden;
}

#container{
    width: 100%;
     display: grid;
     grid-template-columns: repeat(6,minmax(100px,1fr));
     grid-template-rows: minmax(50px,auto);
     grid-gap: 5px;
}
.top{
    grid-column: 1/-1;
    text-align: center;
    color: #1f1f1f;
  
}
.header{
   text-align: center;
  
}
.header ul{
    float: right;
    list-style: none;
    margin-right: 40px;
}
.header ul li{
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 20px;
    text-transform: uppercase;
 
}
.header ul li a:hover {
    background-color:#1f1f1f;
    color: #fff;
 }
.header ul li a{
    text-decoration: none;
    color:#1f1f1f;
    padding: 15px;
     font-size: 14px;
     height: 30px;
     width: 150px;
     border-radius: 3px;
}
.logo{
    width: 70px;
    height: 60px;   
   position: absolute;
   top: -2%;
   left: 7px;
}
.logo h1{
   font-size: 53px;
   text-transform: lowercase;
   margin: 0;
   font-family: 'Nova Mono', monospace;
   letter-spacing: -9px;;
}
.logo h2{
    position: absolute;
    top: 93%;
    left: 5%;
    text-transform: uppercase;
    font-size: 21px;
}
.logo p{
    font-size: 12px;
    position: relative;
    left: 33%;
    font-weight: bold;
}

.toggle{
    display: none;
    float: right;
}

.ligne1{
    grid-column: 1/-1;
    position: absolute;
    top: 13%;
    left: 45%;
    color: #1f1f1f;
   
}
.ligne1 h2{
    width: 200px;
    height: 40px;
    font-size: 23px;
    padding: 10px;
   
}
.bigBox{
    grid-column: 1/-1;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: 0;
   height: auto;
    padding: 5px;
   
}
footer{
    grid-column: 1/-1;
    background-color: #1f1f1f;
    text-align: center;
    height: 70px;
    margin-left: 40px;
    margin-right: 40px;
}
.list1,
.list2 {
    margin-top: 10px;
   list-style: none;
}
.list1 li,
.list2 li{
    display: inline-block;
    margin-right: 30px;
    color: #fff;
}

/*Queries for tablets*/
@media only screen and (max-width: 960px){
    body{
        overflow-x: hidden;
    }
    #container{
        width: 100%;
        grid-template-columns: repeat(6,minmax(100px,1fr));
     grid-template-rows: minmax(50px,auto);
     grid-gap: 5px;
    }
    .top{
        grid-column: 1/-1;
        width: 100%;
    }
    
    .header ul{
        width: 100%;
        background-color: #000000;
       margin-top: 20px;
       margin-right: 0;
        
    }
    .header ul li{
     display: none; 
     text-align:center;
     font-size: 13px;
     margin-bottom: 20px;
     padding: 5px;
     
        }
    .header ul li a{
        color: #fff;
    }
    
.header ul li a:hover {
    background-color:#fff;
    color: #000000;
 }
    .toggle{
        display: block;
        margin: 21px;
        font-size: 20px;
        background-color:#fff;
        color: #1f1f1f;
    }
    .ligne1{
        width: 100%;
        margin-left: 0%;
        margin-top: 7px;
        background-color: #1f1f1f;
        color: #fff;
        width: 150px;
        padding: 5px;
        
    }

    .ligne1 h2{
        font-size: 19px;
    }
   
   
}

/*Queries for mobile phone*/
@media only screen and (max-width:660px){
    body{
        overflow-x: hidden;
    }
    #container{
        width: 100%;
        grid-template-columns: repeat(6,minmax(10px,1fr));
     grid-template-rows: minmax(50px,auto);
     grid-gap: 5px;
    }
    .top{
        grid-column: 1/-1;
        width: 100%;
    }
    .header ul li{
        display: none;
    }
    .toggle{
        display: block;
        margin: 20px;
        font-size: 20px;
    }
    .ligne1{
        width: 100%;
     position: relative;
     left: 33%;
        width: 150px;
    }
   
        
   footer{
       height: 100px;
   }


}

