*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
html,body{
    width: 100%;
    height: 100%;
 overflow-x: hidden;
 background-color: rgb(231, 229, 229);
}
#bigBox{

    display: grid;
     grid-template-columns: repeat(6,minmax(100px,1fr));
     grid-template-rows: minmax(50px,auto);
     grid-gap: 5px;
}
.top{
    grid-column: 1/-1;
    margin-bottom: 10px;
}
.header{

   text-align: center;
}
.header ul{
    float: right;
    list-style: none;
    margin-right: 30px;
}
.header ul li{
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 20px;
    text-transform: uppercase;
 
}
.header ul li a:hover {
    background-color:#1F1F1F;
    color: #fff;
 }
.header ul li a{
    text-decoration: none;
    color:#000000;
    padding: 15px;
     font-size: 14px;
     height: 30px;
     width: 150px;
     border-radius: 3px;
}
.logo{
    width: 70px;
    height: 60px;   
   position: absolute;
   top: -2%;
   left: 7px;
   
}
.logo h1{
   font-size: 53px;
   text-transform: lowercase;
   margin: 0;
   font-family: 'Nova Mono', monospace;
   letter-spacing: -9px;;
}
.logo h2{
    position: absolute;
    top: 93%;
    left: 5%;
    text-transform: uppercase;
    font-size: 21px;
}
.logo p{
    font-size: 12px;
    position: relative;
    left: 33%;
    font-weight: bold;
}

.toggle{
    display: none;
    float: right;
}

  .c1{
     grid-column: 1/5;
     margin-left: 20px;
     background-color: rgb(214, 214, 214);
     color: #000000;  
     margin-top: 20px;
     text-align: center;
  }
  .c1 h2,
  .c2 h2{
      font-size: 17px;
      text-transform: uppercase; 
      margin-top: 30px;
      margin-bottom: 30px;
  }
  .c1 p,
  .c2 p{
      line-height: 23px;
      font-size: 17px;
      padding: 10px;
      margin-bottom: 3px;
  }
.c2{
    grid-column: 5/-1;
    background-color: #1F1F1F;
    color: #fff;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
  
}

footer{
    grid-column: 1/-1;
    margin-top: 30px;
    background-color: #1F1F1F;
    text-align: center;
    height: 90px;

}
.list1,
.list2 {
    width: 100%;
    margin-top: 10px;
   list-style: none;
   margin-bottom: 10px;
}
.list1 li,
.list2 li{
    display: inline-block;
    margin-right: 30px;
    color: #fff;
}


/*Queries for tablets*/
@media only screen and (max-width: 959px){
   
    #bigBox{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,minmax(100px,1fr));
     grid-template-rows: minmax(50px,auto);
     grid-gap: 5px;
    }
    .top{
        grid-column: 1/-1;
        width: 100%;
    }
    
    
    .toggle{
        display: block;
        margin: 20px;
        font-size: 20px;
    }
    
    .header ul{
        width: 100%;
        background-color: #000000;
       margin-top: 20px;
       margin-right: 0;
        
    }
    .header ul li{
     display: none; 
     text-align:center;
     font-size: 13px;
     
        }
    .header ul li a{
        color: #fff;
    }
    
      
        .c1{
            grid-column: 1/5;
            font-size: 11px;
            text-align: left;
            margin-left: 20px;
        }
        .c2{
            grid-column: 5/7;
            margin-right: 20px;
        }
        .c1 h2,
        .c2 h2{
            margin-left: 17%;
            font-size: 15px;
            text-transform:uppercase;
            width: 140px;
            height: 30px;
        }
        .c1 p,
        .c2 p{
      line-height: 20px;
      font-size: 14px;
      padding: 15px;
    
  }
  
}

/*Queries for mobile*/
@media only screen and (max-width: 640px){
   
    #bigBox{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,minmax(50px,1fr));
     grid-template-rows: minmax(50px,auto);
     grid-gap: 5px;
    }
    .top{
        grid-column: 1/-1;
        width: 100%;
    }
    .c1,
    .c2{
        grid-column: 1/-1;
        margin: 0;
        text-align: center;
    }

     
        .c1 h2,
        .c2 h2{
            font-size: 15px;
      text-transform: uppercase; 
      margin-top: 30px;
      margin-bottom: 15px;
      margin-left: 23%;
      width: 200px;
        }
        .c1 p,
        .c2 p{
      line-height: 20px;
      font-size: 14px;
      padding: 15px;
     
  }
  .show{
    display: block;
}
.footer{
    width: 100%;
    height: 100px;
}
}   